
        .box {
            border: 2px solid black; 
            width: 100px; 
            height: 100px; 
            margin-left: 20px;
            background-color: cornflowerblue;
            display: inline-block; 
        }