<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Full Stack App!</title>
</head>
<body>

    <h2>Here's a list of all our friends:</h2>
    {% for each_friend in friends %}
    <p>First name: {{each_friend.first_name}}</p>
    <p>Last name: {{each_friend.last_name}}</p>
    <p> Occupation: {{each_friend.occupation}}</p>
    <hr>
    {% endfor %}

    <h1>Add a Friend</h1>
<form action="/create_friend" method="POST">
    <label for="fname">First Name:</label>
    <input type="text" name="fname">
    <label for="lname">Last Name:</label>
    <input type="text" name="lname">
    <label for="occ" >Occupation:</label>
    <input type="text" name="occ">
    <input type="submit" value="Add Friend">
</form> 

</body>
</html>